<div class="page-footer text-light bg-custom-primary d-flex flex-row justify-content-between fs-4 fw-medium">
  <div class="py-3 px-2 border-end border-white d-flex align-items-center gap-2">
    <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg" draggable="false"
      class="sc-hyBbbR bupfyj">
      <g clip-path="url(#clip0_5226_16144)">
        <path
          d="M21.6667 20C24.4271 20 26.6667 17.7604 26.6667 15V5C26.6667 2.23958 24.4271 0 21.6667 0H17.2917C16.9479 0 16.6667 0.28127 16.6667 0.625V2.70833C16.6667 3.05206 16.9479 3.33333 17.2917 3.33333H21.6667C22.5886 3.33333 23.3333 4.07811 23.3333 5V15C23.3333 15.9219 22.5886 16.6667 21.6667 16.6667H17.2917C16.9479 16.6667 16.6667 16.9479 16.6667 17.2917V19.375C16.6667 19.7187 16.9479 20 17.2917 20H21.6667ZM10.0521 18.7344L17.9636 10.8906C18.4584 10.4011 18.4584 9.60419 17.9636 9.11458L10.0521 1.26561C9.56248 0.78125 8.77085 0.786438 8.28644 1.27085L7.14584 2.41145C6.64062 2.91148 6.66148 3.73439 7.18231 4.20832L11.224 7.91148H1.25C0.557302 7.91148 0 8.46873 0 9.16148V10.8281C0 11.5208 0.557302 12.0781 1.25 12.0781H11.2291L7.1875 15.7812C6.66148 16.2656 6.64062 17.0833 7.14584 17.5886L8.28644 18.7291C8.77604 19.2188 9.56248 19.2188 10.0521 18.7344Z"
          fill="white"></path>
      </g>
      <defs>
        <clipPath id="clip0_5226_16144">
          <rect width="26.6667" height="20" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <p>End</p>
  </div>
  <div class="d-flex flex-row justify-content-end">
    <button class="py-3 px-2 py-3 px-2 border-end border-white custom-hover d-flex align-items-center gap-2">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" draggable="false"
        class="sc-dOvA-dm dnZlPJ">
        <g clip-path="url(#clip0_5226_16149)">
          <path
            d="M5.45402 14.548C5.45402 14.548 10.022 13.921 11.972 11.972C13.922 10.023 14.548 5.45402 14.548 5.45402C14.548 5.45402 9.97902 6.08102 8.03002 8.03002C6.08102 9.97902 5.45402 14.548 5.45402 14.548ZM9.01702 9.01503C9.83502 8.19703 11.402 7.61502 12.746 7.25302C12.385 8.59502 11.801 10.173 10.986 10.985C10.8569 11.1146 10.7035 11.2174 10.5345 11.2875C10.3656 11.3577 10.1844 11.3938 10.0015 11.3938C9.8186 11.3938 9.63748 11.3577 9.46853 11.2875C9.29959 11.2174 9.14616 11.1146 9.01702 10.985C8.88743 10.8558 8.78462 10.7023 8.71446 10.5333C8.64431 10.3642 8.60819 10.183 8.60819 10C8.60819 9.81702 8.64431 9.63581 8.71446 9.46679C8.78462 9.29776 8.88743 9.14424 9.01702 9.01503ZM10.001 0.400024C4.69803 0.400024 0.400024 4.69802 0.400024 10C0.399893 11.2609 0.648141 12.5094 1.13059 13.6743C1.61304 14.8392 2.32024 15.8977 3.2118 16.7892C4.10336 17.6808 5.16182 18.388 6.32673 18.8705C7.49163 19.3529 8.74017 19.6012 10.001 19.601C15.302 19.601 19.601 15.303 19.601 10C19.601 4.69802 15.302 0.400024 10.001 0.400024ZM10 17.6C9.00198 17.6 8.0137 17.4034 7.09163 17.0215C6.16956 16.6396 5.33174 16.0798 4.62601 15.374C3.92029 14.6683 3.36048 13.8305 2.97854 12.9084C2.5966 11.9863 2.40002 10.9981 2.40002 10C2.40002 9.00198 2.5966 8.0137 2.97854 7.09163C3.36048 6.16956 3.92029 5.33174 4.62601 4.62601C5.33174 3.92029 6.16956 3.36048 7.09163 2.97854C8.0137 2.5966 9.00198 2.40002 10 2.40002C10.9981 2.40002 11.9863 2.5966 12.9084 2.97854C13.8305 3.36048 14.6683 3.92029 15.374 4.62601C16.0798 5.33174 16.6396 6.16956 17.0215 7.09163C17.4034 8.0137 17.6 9.00198 17.6 10C17.6 10.9981 17.4034 11.9863 17.0215 12.9084C16.6396 13.8305 16.0798 14.6683 15.374 15.374C14.6683 16.0798 13.8305 16.6396 12.9084 17.0215C11.9863 17.4034 10.9981 17.6 10 17.6Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_5226_16149">
            <rect width="20" height="20" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <p>Na<span class="text-decoration-underline">v</span>igate</p>
    </button>
    <div class="py-3 px-2 py-3 px-2 border-end border-white custom-hover d-flex align-items-center gap-2"
      id="previousButton">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.5538 16.3363L7.79004 10.4801C7.66363 10.3523 7.59273 10.1798 7.59273 10.0001C7.59273 9.82032 7.66363 9.64783 7.79004 9.52006L13.5525 3.66381C13.6789 3.53524 13.7497 3.36219 13.7497 3.18193C13.7497 3.00167 13.6789 2.82863 13.5525 2.70006C13.4908 2.63675 13.4171 2.58643 13.3356 2.55208C13.2541 2.51772 13.1666 2.50002 13.0782 2.50002C12.9898 2.50002 12.9022 2.51772 12.8208 2.55208C12.7393 2.58643 12.6655 2.63675 12.6038 2.70006L6.84129 8.55506C6.46264 8.94071 6.25049 9.45959 6.25049 10.0001C6.25049 10.5405 6.46264 11.0594 6.84129 11.4451L12.6038 17.3001C12.6655 17.3636 12.7394 17.414 12.821 17.4485C12.9026 17.483 12.9902 17.5007 13.0788 17.5007C13.1674 17.5007 13.255 17.483 13.3366 17.4485C13.4182 17.414 13.4921 17.3636 13.5538 17.3001C13.6801 17.1715 13.7509 16.9984 13.7509 16.8182C13.7509 16.6379 13.6801 16.4649 13.5538 16.3363Z"
          fill="white" />
      </svg>
      <p><span class="text-decoration-underline">P</span>revious</p>
    </div>
    <div class="py-3 px-2 custom-hover d-flex align-items-center gap-2" id="nextButton">
      <p><span class="text-decoration-underline">N</span>ext</p>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.4462 16.3363L12.21 10.4801C12.3364 10.3523 12.4073 10.1798 12.4073 10.0001C12.4073 9.82032 12.3364 9.64783 12.21 9.52006L6.44746 3.66381C6.32111 3.53524 6.25032 3.36219 6.25032 3.18193C6.25032 3.00167 6.32111 2.82863 6.44746 2.70006C6.50918 2.63675 6.58295 2.58643 6.66442 2.55208C6.74589 2.51772 6.83341 2.50002 6.92183 2.50002C7.01025 2.50002 7.09777 2.51772 7.17924 2.55208C7.26071 2.58643 7.33448 2.63675 7.3962 2.70006L13.1587 8.55506C13.5374 8.94071 13.7495 9.45959 13.7495 10.0001C13.7495 10.5405 13.5374 11.0594 13.1587 11.4451L7.3962 17.3001C7.33446 17.3636 7.26062 17.414 7.17903 17.4485C7.09744 17.483 7.00977 17.5007 6.9212 17.5007C6.83264 17.5007 6.74497 17.483 6.66338 17.4485C6.58179 17.414 6.50795 17.3636 6.4462 17.3001C6.31986 17.1715 6.24906 16.9984 6.24906 16.8182C6.24906 16.6379 6.31986 16.4649 6.4462 16.3363Z"
          fill="white" />
      </svg>
    </div>
  </div>
</div>