.page-navbar
  .text-light.bg-custom-primary.p-3.d-flex.flex-row.justify-content-between
    %p NCLEX-RN Test
    %p Bootcamp.com
    .d-flex.flex-row.justify-content-between.gap-3
      .custom-hover.d-flex.flex-row.justify-content-center.align-items-center.gap-2
        %svg.sc-gdfaqJ.dDAcjD{draggable: "false", fill: "none", height: "20", viewbox: "0 0 20 20", width: "20", xmlns: "http://www.w3.org/2000/svg"}
          %g{"clip-path" => "url(#clip0_5226_14573)"}
            %path{d: "M10 4.375C10 4.20924 9.93415 4.05027 9.81694 3.93306C9.69973 3.81585 9.54076 3.75 9.375 3.75C9.20924 3.75 9.05027 3.81585 8.93306 3.93306C8.81585 4.05027 8.75 4.20924 8.75 4.375V11.25C8.75004 11.3602 8.77919 11.4684 8.83451 11.5636C8.88982 11.6589 8.96934 11.7379 9.065 11.7925L13.44 14.2925C13.5836 14.3701 13.7518 14.3885 13.9087 14.3437C14.0657 14.2989 14.1988 14.1944 14.2798 14.0527C14.3608 13.9111 14.3831 13.7433 14.342 13.5854C14.301 13.4274 14.1997 13.2918 14.06 13.2075L10 10.8875V4.375Z", fill: "white"}
            %path{d: "M10 20C12.6522 20 15.1957 18.9464 17.0711 17.0711C18.9464 15.1957 20 12.6522 20 10C20 7.34784 18.9464 4.8043 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0C7.34784 0 4.8043 1.05357 2.92893 2.92893C1.05357 4.8043 0 7.34784 0 10C0 12.6522 1.05357 15.1957 2.92893 17.0711C4.8043 18.9464 7.34784 20 10 20ZM18.75 10C18.75 12.3206 17.8281 14.5462 16.1872 16.1872C14.5462 17.8281 12.3206 18.75 10 18.75C7.67936 18.75 5.45376 17.8281 3.81282 16.1872C2.17187 14.5462 1.25 12.3206 1.25 10C1.25 7.67936 2.17187 5.45376 3.81282 3.81282C5.45376 2.17187 7.67936 1.25 10 1.25C12.3206 1.25 14.5462 2.17187 16.1872 3.81282C17.8281 5.45376 18.75 7.67936 18.75 10Z", fill: "white"}
          %defs
            %clippath#clip0_5226_14573
              %rect{fill: "white", height: "20", width: "20"}
        %p 00:00:00
      .custom-hover.d-flex.flex-row.justify-content-center.align-items-center.gap-2
        %svg.sc-laNGHT.dhmDAE{fill: "none", height: "20", viewbox: "0 0 20 14", width: "20", xmlns: "http://www.w3.org/2000/svg"}
          %rect{fill: "white", height: "2.10526", rx: "1.05263", width: "12.6316", x: "5.26318", y: "0.684212"}
          %rect{fill: "white", height: "2.10526", rx: "1.05263", width: "12.6316", x: "5.26318", y: "11.2105"}
          %rect{fill: "white", height: "2.10526", rx: "1.05263", width: "12.6316", x: "2.10522", y: "5.94736"}
          %rect{height: "5.31579", rx: "2.65789", stroke: "white", width: "19", x: "0.5", y: "4.34211"}
        %p Question 1 of 6
%div
  .text-light.bg-custom-primary-subtle.px-3.py-1.d-flex.flex-row.justify-content-between
    #calculatorButton.custom-hover.d-flex.flex-row.justify-content-center.align-items-center.gap-2
      %svg.sc-kuVLHQ.jCYRPk{draggable: "false", fill: "none", height: "20", viewbox: "0 0 15 20", width: "15", xmlns: "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", d: "M4 1.5H11C12.3807 1.5 13.5 2.61929 13.5 4V6H1.5V4C1.5 2.61929 2.61929 1.5 4 1.5ZM0 7.5V6V4C0 1.79086 1.79086 0 4 0H11C13.2091 0 15 1.79086 15 4V6V7.5V16C15 18.2091 13.2091 20 11 20H4C1.79086 20 0 18.2091 0 16V7.5ZM13.5 7.5V16C13.5 17.3807 12.3807 18.5 11 18.5H4C2.61929 18.5 1.5 17.3807 1.5 16V7.5H13.5Z", fill: "white", "fill-rule" => "evenodd"}
      %p.link-hover
        Calculat
        %span.text-decoration-underline{style: "--bs-link-hover-color-rgb: 25, 135, 84;"}> o
        r
    .custom-hover.d-flex.flex-row.justify-content-center.align-items-center.gap-2
      %svg.sc-iZzKWI.fHFjee{draggable: "false", fill: "none", height: "20", viewbox: "0 0 20 20", width: "20", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M3 3C3 2.46957 3.21071 1.96086 3.58579 1.58579C3.96086 1.21071 4.46957 1 5 1H15C15.5304 1 16.0391 1.21071 16.4142 1.58579C16.7893 1.96086 17 2.46957 17 3V19L10 15.5L3 19V3Z", stroke: "white", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      %p
        Mar
        %span.text-decoration-underline k
        for Review