<div class="container-fluid d-none mt-4" id="step2" style="flex: 1">
  <div class="row flex-fill">
    <div class="col-lg-6 pr-6 divider-border">
      <div class="pt-3">
        <h6 class="fw-bold">Item 2 of 8</h6>
        <p>The nurse is caring for a 61-year-old female client in the emergency department.</p>
      </div>
      <div>
        <nav>
          <div class="nav nav-tabs pt-4" id="nav-tab2" role="tablist">
            <button class="nav-link active fw-bold fs-5" id="nav-home-tab2" data-bs-toggle="tab"
              data-bs-target="#nav-home2" type="button" role="tab" aria-controls="nav-home2"
              aria-selected="true">Nurses' Notes</button>
            <button class="nav-link fw-bold fs-5" id="nav-profile-tab2" data-bs-toggle="tab"
              data-bs-target="#nav-profile2" type="button" role="tab" aria-controls="nav-profile2"
              aria-selected="false">History and Physical</button>
            <button class="nav-link fw-bold fs-5" id="nav-contact-tab2" data-bs-toggle="tab"
              data-bs-target="#nav-contact2" type="button" role="tab" aria-controls="nav-contact2"
              aria-selected="false">Vital Signs</button>
          </div>
        </nav>
        <div class="tab-content py-4 px-2 " id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home2" role="tabpanel" aria-labelledby="nav-home-tab2">
            <p class="fw-bold fs-5">Emergency Department</p>
            <table class="table border-0">
              <tbody>
                <tr>
                  <td class="fw-bold border-0">0615: </td>
                  <td class="border-0">A 61-year-old client comes to the emergency department reporting shortness of
                    breath. She states
                    that she had to stop and sit down while getting ready for work this morning because she suddenly
                    felt like she could not catch her breath. She denies any cough, fever, palpitations, or
                    lightheadedness. She denies any recent sick contacts but notes that she recently injured her leg
                    in
                    a minor bicycle accident.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-profile2" role="tabpanel" aria-labelledby="nav-profile-tab2">
            <table class="table table-bordered border-grey table-striped">
              <thead class="fw-bold text-center table-bg-custom-primary">
                <tr>
                  <th scope="col">Body System</th>
                  <th scope="col">Findings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Neurological
                  </td>
                  <td>
                    Alert; oriented to person, place, and time; slightly anxious
                  </td>
                </tr>
                <tr>
                  <td>
                    Pulmonary
                  </td>
                  <td>
                    Reports dyspnea; lung sounds diminished with fine crackles in bilateral bases; sharp chest pain on
                    inspiration; denies cough; former 10-year smoker; quit 25 years ago
                  </td>
                </tr>
                <tr>
                  <td>
                    Cardiovascular
                  </td>
                  <td>
                    Regular rhythm; S1 and S2 present with no murmurs; 2+ peripheral pulses in bilateral upper and
                    lower extremities; history of hypertension
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Gastrointestinal/</span>
                    <span>Genitourinary</span>
                  </td>
                  <td>
                    Abdomen soft and nontender with bowel sounds normoactive x 4 quadrants; healed transverse lower
                    abdominal scar; denies dysuria; she is obese
                  </td>
                </tr>
                <tr>
                  <td>
                    Reproductive
                  </td>
                  <td>
                    Post-menopausal; takes oral hormone replacement therapy to help relieve her hot flashes; history 2
                    cesarean sections
                  </td>
                </tr>
                <tr>
                  <td>
                    Extremities
                  </td>
                  <td>
                    Right lower leg with erythema, tenderness, and 1+ pitting lower extremity edema extending to
                    thigh; client states, “I hurt my leg when I wrecked my bicycle, and the pain and swelling are
                    getting worse;” history of varicose veins
                  </td>
                </tr>
                <tr>
                  <td>
                    Psychosocial
                  </td>
                  <td>
                    Married with 2 adult children; works long hours at a crowded call center as a telephone operator
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab2">
            <table class="table table-bordered border-grey table-striped">
              <thead class="fw-bold text-center table-bg-custom-primary">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">0615</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    T
                  </td>
                  <td>
                    99.9 F
                    <br />
                    (37.7 C)
                  </td>
                </tr>
                <tr>
                  <td>
                    P
                  </td>
                  <td>
                    118
                  </td>
                </tr>
                <tr>
                  <td>
                    PR
                  </td>
                  <td>
                    24
                  </td>
                </tr>
                <tr>
                  <td>
                    BP
                  </td>
                  <td>
                    108/56
                  </td>
                </tr>
                <tr>
                  <td>
                    Pluse oximetry reading
                  </td>
                  <td>
                    89% on room air
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pt-6 px-6">
      <div class="row">
        <div class="col" style="flex: 0">
          <div class="arrow_image">
            <%= image_tag ("arrow.png") %>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-row justify-content-center gap-2 pb-4">
            <span>The nurse suspects that the client is experiencing a venous thromboembolism (VTE). For each of the
              client findings, click to specify whether the finding indicates an increased risk for VTE that is
              <b>best</b>
              explained by blood flow stasis, endothelial injury, or a hypercoagulable state. </span>
          </div>
          <table class="table table-bordered border-grey" style="width: 88%">
            <thead class="fw-bold text-center table-bg-custom-primary">
              <tr>
                <th scope="col" class="d-flex flex-column justify-content-center align-items-center">Client Finding
                </th>
                <th scope="col">Blood Flow Stasis</th>
                <th scope="col">Endothelial Injury</th>
                <th scope="col">Hypercoagulable State</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1. Viaricose veins</td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Viaricose_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Viaricose_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Viaricose_flexRadio">
                  </div>
                </td>
              </tr>
              <tr>
                <td scope="row">2. Works seated at a desk job</td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="deskjob_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="deskjob_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="deskjob_flexRadio">
                  </div>
                </td>
              </tr>
              <tr>
                <td scope="row">3. Injured leg in bicycle accident</td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Injured_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Injured_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Injured_flexRadio">
                  </div>
                </td>
              </tr>
              <tr>
                <td scope="row">4. Hormone replacement therapy</td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Hormone_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Hormone_flexRadio">
                  </div>
                </td>
                <td>
                  <div class="form-check custom-flexbox-center">
                    <input class="form-check-input" type="radio" name="Hormone_flexRadio">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p>Note: Each row must have 1 response option selected.</p>
        </div>
        <div class="row">
          <Button class="bg-custom-primary submit-primary-button"><span class="text-underline">S</span>ubmit</Button>
        </div>
      </div>
    </div>
  </div>
</div>