<div class="container-fluid d-flex mt-4" id="step1" style="flex: 1">
  <div class="row flex-fill">
    <div class="col-lg-6 pr-6 divider-border">
      <div class="pt-3">
        <h6 class="fw-bold">Item 1 of 8</h6>
        <p>The nurse is caring for a 61-year-old female client in the emergency department.</p>
      </div>
      <div>
        <nav>
          <div class="nav nav-tabs pt-4" id="nav-tab" role="tablist">
            <button class="nav-link active fw-bold fs-5" id="nav-home-tab" data-bs-toggle="tab"
              data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
              aria-selected="true">Nurses' Notes</button>
            <button class="nav-link fw-bold fs-5" id="nav-profile-tab" data-bs-toggle="tab"
              data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
              aria-selected="false">History and Physical</button>
            <button class="nav-link fw-bold fs-5" id="nav-contact-tab" data-bs-toggle="tab"
              data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
              aria-selected="false">Vital Signs</button>
          </div>
        </nav>
        <div class="tab-content py-4 px-2 " id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p class="fw-bold fs-5">Emergency Department</p>
            <table class="table border-0">
              <tbody>
                <tr>
                  <td class="fw-bold border-0">0615: </td>
                  <td class="border-0">A 61-year-old client comes to the emergency department reporting shortness of
                    breath. She states
                    that she had to stop and sit down while getting ready for work this morning because she suddenly
                    felt like she could not catch her breath. She denies any cough, fever, palpitations, or
                    lightheadedness. She denies any recent sick contacts but notes that she recently injured her leg
                    in
                    a minor bicycle accident.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table table-bordered border-grey table-striped">
              <thead class="fw-bold text-center table-bg-custom-primary">
                <tr>
                  <th scope="col">Body System</th>
                  <th scope="col">Findings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Neurological
                  </td>
                  <td>
                    Alert; oriented to person, place, and time; slightly anxious
                  </td>
                </tr>
                <tr>
                  <td>
                    Pulmonary
                  </td>
                  <td>
                    Reports dyspnea; lung sounds diminished with fine crackles in bilateral bases; sharp chest pain on
                    inspiration; denies cough; former 10-year smoker; quit 25 years ago
                  </td>
                </tr>
                <tr>
                  <td>
                    Cardiovascular
                  </td>
                  <td>
                    Regular rhythm; S1 and S2 present with no murmurs; 2+ peripheral pulses in bilateral upper and
                    lower extremities; history of hypertension
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Gastrointestinal/</span>
                    <span>Genitourinary</span>
                  </td>
                  <td>
                    Abdomen soft and nontender with bowel sounds normoactive x 4 quadrants; healed transverse lower
                    abdominal scar; denies dysuria; she is obese
                  </td>
                </tr>
                <tr>
                  <td>
                    Reproductive
                  </td>
                  <td>
                    Post-menopausal; takes oral hormone replacement therapy to help relieve her hot flashes; history 2
                    cesarean sections
                  </td>
                </tr>
                <tr>
                  <td>
                    Extremities
                  </td>
                  <td>
                    Right lower leg with erythema, tenderness, and 1+ pitting lower extremity edema extending to
                    thigh; client states, “I hurt my leg when I wrecked my bicycle, and the pain and swelling are
                    getting worse;” history of varicose veins
                  </td>
                </tr>
                <tr>
                  <td>
                    Psychosocial
                  </td>
                  <td>
                    Married with 2 adult children; works long hours at a crowded call center as a telephone operator
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table table-bordered border-grey table-striped">
              <thead class="fw-bold text-center table-bg-custom-primary">
                <tr>
                  <th scope="col">Body System</th>
                  <th scope="col">0615</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    T
                  </td>
                  <td>
                    99.9 F
                    <br />
                    (37.7 C)
                  </td>
                </tr>
                <tr>
                  <td>
                    P
                  </td>
                  <td>
                    118
                  </td>
                </tr>
                <tr>
                  <td>
                    PR
                  </td>
                  <td>
                    24
                  </td>
                </tr>
                <tr>
                  <td>
                    BP
                  </td>
                  <td>
                    108/56
                  </td>
                </tr>
                <tr>
                  <td>
                    Pluse oximetry reading
                  </td>
                  <td>
                    89% on room air
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pt-6 px-6">
      <div class="row">
        <div class="col" style="flex: 0">
          <div class="arrow_image">
            <%= image_tag ("arrow.png") %>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-row gap-2 pb-4">
            <span>Click to highlight below the findings that require
              <b>immediate</b>
              follow-up by the nurse.</span>
          </div>
          <table class="table table-bordered border-grey table-striped" style="cursor: not-allowed;">
            <thead class="fw-bold table-bg-custom-primary">
              <tr>
                <th scope="col">Body System</th>
                <th scope="col">Findings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  Neurological
                </th>
                <td style="cursor: not-allowed;">
                  Alert; oriented to person, place, and time;
                  <input type="checkbox" class="hidden-checkbox" id="word1" name="highlightedWords[]"
                    value="highlightable">
                  <label for="word1" class="highlightable-word">slightly anxious</label>
                </td>
              </tr>
              <tr>
                <th>
                  Pulmonary
                </th>
                <td style="cursor: not-allowed;">
                  Reports <input type="checkbox" class="hidden-checkbox" id="dyspnea" name="highlightedWords[]"
                    value="highlightable">
                  <label for="dyspnea" class="highlightable-word">dyspnea;</label> lung sounds diminished with <input
                    type="checkbox" class="hidden-checkbox" id="dyspnea" name="highlightedWords[]"
                    value="highlightable">
                  <label for="finecracklesinbilateralbases" class="highlightable-word">fine
                    crackles in bilateral bases;</label> <input type="checkbox" class="hidden-checkbox" id="dyspnea" name="highlightedWords[]"
                  value="highlightable">
                <label for="sharpchestpainoninspirationdeniescough" class="highlightable-word">sharp chest pain on
                  inspiration;</label> <input type="checkbox" class="hidden-checkbox"
                    id="sharpchestpainoninspirationdeniescough" name="highlightedWords[]" value="highlightable"> denies cough; 
                  <label for="former10yearsmoker" class="highlightable-word">former 10-year smoker;</label> quit 25
                  years ago
                </td>
              </tr>
              <tr>
                <th>
                  Cardiovascular
                </th>
                <td style="cursor: not-allowed;">
                  Regular rhythm; S1 and S2 present with no murmurs; 2+ peripheral pulses in bilateral upper and
                  lower extremities; <input type="checkbox" class="hidden-checkbox" id="historyofhypertension" name="highlightedWords[]"
                  value="highlightable">
                <label for="historyofhypertension" class="highlightable-word">history of hypertension</label>
                </td>
              </tr>
              <tr>
                <th>
                  <span>Gastrointestinal/</span>
                  <span>Genitourinary</span>
                </th>
                <td>
                  Abdomen soft and nontender with bowel sounds normoactive x 4 quadrants; healed transverse lower
                  abdominal scar; denies dysuria; she is obese
                </td>
              </tr>
              <tr>
                <th>
                  Reproductive
                </th>
                <td>
                  Post-menopausal; takes oral hormone replacement therapy to help relieve her hot flashes; history 2
                  cesarean sections
                </td>
              </tr>
              <tr>
                <th>
                  Extremities
                </th>
                <td>
                  Right lower leg with erythema, tenderness, and 1+ pitting lower extremity edema extending to
                  thigh; client states, “I hurt my leg when I wrecked my bicycle, and <input type="checkbox" class="hidden-checkbox" id="thepainandswellingaregettingworse" name="highlightedWords[]"
                  value="highlightable">
                <label for="thepainandswellingaregettingworse" class="highlightable-word">the pain and swelling are
                  getting worse</label>;” history of varicose veins
                </td>
              </tr>
              <tr>
                <th>
                  Psychosocial
                </th>
                <td>
                  Married with 2 adult children; <input type="checkbox" class="hidden-checkbox" id="workslonghoursatacrowdedcallcenter" name="highlightedWords[]"
                  value="highlightable">
                <label for="workslonghoursatacrowdedcallcenter" class="highlightable-word">works long hours at a crowded call center</label> as a telephone operator
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="row">
          <Button class="bg-custom-primary submit-primary-button"><span class="text-underline">S</span>ubmit</Button>
        </div>
      </div>
    </div>
  </div>
</div>