<div class="container-fluid d-none mt-4" id="step8" style="flex: 1">
  <div class="row flex-fill">
    <div class="col-lg-6 pr-6 divider-border">
      <div class="pt-3">
        <h6 class="fw-bold">Item 8 of 8</h6>
        <p>The nurse is caring for a 61-year-old female client in the emergency department.</p>
      </div>
      <div>
        <nav>
          <div class="nav nav-tabs pt-4" id="nav-tab3" role="tablist">
            <button class="nav-link active fw-bold fs-5" id="nav-home-tab8" data-bs-toggle="tab"
              data-bs-target="#nav-home8" type="button" role="tab" aria-controls="nav-home8"
              aria-selected="true">Nurses' Notes</button>
            <button class="nav-link fw-bold fs-5" id="nav-profile-tab8" data-bs-toggle="tab"
              data-bs-target="#nav-profile8" type="button" role="tab" aria-controls="nav-profile8"
              aria-selected="false">History and Physical</button>
            <button class="nav-link fw-bold fs-5" id="nav-contact-tab8" data-bs-toggle="tab"
              data-bs-target="#nav-contact8" type="button" role="tab" aria-controls="nav-contact8"
              aria-selected="false">Vital Signs</button>
            <button class="nav-link fw-bold fs-5" id="nav-order-tab8" data-bs-toggle="tab"
              data-bs-target="#nav-order8" type="button" role="tab" aria-controls="nav-order8"
              aria-selected="false">Orders</button>
          </div>
        </nav>
        <div class="tab-content py-4 px-2 " id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home8" role="tabpanel" aria-labelledby="nav-home-tab8">
            <p class="fw-bold fs-5">Emergency Department</p>
            <table class="table border-0">
              <tbody>
                <tr>
                  <td class="fw-bold border-0">0615: </td>
                  <td class="border-0">A 61-year-old client comes to the emergency department reporting shortness of
                    breath. She states
                    that she had to stop and sit down while getting ready for work this morning because she suddenly
                    felt like she could not catch her breath. She denies any cough, fever, palpitations, or
                    lightheadedness. She denies any recent sick contacts but notes that she recently injured her leg
                    in
                    a minor bicycle accident.
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold border-0">0645: </td>
                  <td class="border-0">AClient placed on 2 L/min nasal cannula; reports relief of dyspnea. CT
                    pulmonary angiography and right lower extremity doppler ultrasound complete. Client now being
                    admitted to the hospital with a diagnosis of deep vein thrombosis and pulmonary embolism, with
                    plans to initiate an IV heparin drip once admitted to the floor.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-profile8" role="tabpanel" aria-labelledby="nav-profile-tab8">
            <table class="table table-bordered border-grey table-striped">
              <thead class="fw-bold text-center table-bg-custom-primary">
                <tr>
                  <th scope="col">Body System</th>
                  <th scope="col">Findings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Neurological
                  </td>
                  <td>
                    Alert; oriented to person, place, and time; slightly anxious
                  </td>
                </tr>
                <tr>
                  <td>
                    Pulmonary
                  </td>
                  <td>
                    Reports dyspnea; lung sounds diminished with fine crackles in bilateral bases; sharp chest pain on
                    inspiration; denies cough; former 10-year smoker; quit 25 years ago
                  </td>
                </tr>
                <tr>
                  <td>
                    Cardiovascular
                  </td>
                  <td>
                    Regular rhythm; S1 and S2 present with no murmurs; 2+ peripheral pulses in bilateral upper and
                    lower extremities; history of hypertension
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Gastrointestinal/</span>
                    <span>Genitourinary</span>
                  </td>
                  <td>
                    Abdomen soft and nontender with bowel sounds normoactive x 4 quadrants; healed transverse lower
                    abdominal scar; denies dysuria; she is obese
                  </td>
                </tr>
                <tr>
                  <td>
                    Reproductive
                  </td>
                  <td>
                    Post-menopausal; takes oral hormone replacement therapy to help relieve her hot flashes; history 2
                    cesarean sections
                  </td>
                </tr>
                <tr>
                  <td>
                    Extremities
                  </td>
                  <td>
                    Right lower leg with erythema, tenderness, and 1+ pitting lower extremity edema extending to
                    thigh; client states, “I hurt my leg when I wrecked my bicycle, and the pain and swelling are
                    getting worse;” history of varicose veins
                  </td>
                </tr>
                <tr>
                  <td>
                    Psychosocial
                  </td>
                  <td>
                    Married with 2 adult children; works long hours at a crowded call center as a telephone operator
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact8" role="tabpanel" aria-labelledby="nav-contact-tab8">
            <table class="table table-bordered border-grey table-striped">
              <thead class="fw-bold text-center table-bg-custom-primary">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">0615</th>
                  <th scope="col">0645</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    T
                  </th>
                  <td>
                    99.9 F
                    <br />
                    (37.7 C)
                  </td>
                  <td>
                    99.9 F
                    <br />
                    (37.7 C)
                  </td>
                </tr>
                <tr>
                  <th>
                    P
                  </th>
                  <td>
                    118
                  </td>
                  <td>
                    109
                  </td>
                </tr>
                <tr>
                  <th>
                    PR
                  </th>
                  <td>
                    24
                  </td>
                  <td>
                    22
                  </td>
                </tr>
                <tr>
                  <th>
                    BP
                  </th>
                  <td>
                    108/56
                  </td>
                  <td>
                    12/60
                  </td>
                </tr>
                <tr>
                  <th>
                    Pluse oximetry reading
                  </th>
                  <td>
                    89% on room air
                  </td>
                  <td>
                    93% on 2L/min nasal cannula
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-order8" role="tabpanel" aria-labelledby="nav-order-tab8">
            <ul class="steps">
              <li>Maintain continuous IV heparin infusion: 25,000 units/250 mL: Start at 18 units/kg/hr (1800
                units/hr)</li>
              <li>Draw serum PTT every 6 hours until value reaches 70-110 seconds, then draw daily</li>
              <li>Warfarin PO 5 mg daily; give first dose tonight at 1700</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pt-6 px-6">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row gap-2 pb-4">
            <span>The healthcare provider returns the page and provides new Orders.</span>
          </div>
          <div class="row">
            <div class="col" style="flex: 0">
              <div class="arrow_image">
                <%= image_tag ("arrow.png") %>
              </div>
            </div>
            <div class="col">
              <p>Select words from the choices below to fill in each blank in the following sentences.</p>
              <div class='pt-4'>
                <span>To address the client’s symptoms, the nurse should </span> <b>first</b> <span>
                  <div style="min-width: 250px;" class="d-inline-block"><select class="form-select w-100"
                      aria-label="Default select example">
                      <option selected>Select...</option>
                      <option value="1">administer IV morphine</option>
                      <option value="2">administer IV ondansetron</option>
                      <option value="3">insert the nasogastric tube</option>
                    </select></div>
                  <span>. Next, the nurse can
                    <div style="min-width: 250px;" class="d-inline-block">
                      <select class="form-select w-100" aria-label="Default select example">
                        <option selected>Select...</option>
                        <option value="1">administer IV morphine</option>
                        <option value="2">administer IV ondansetron</option>
                        <option value="3">insert the nasogastric tube</option>
                      </select>
                    </div>
                  </span>
                  <span>.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <Button class="bg-custom-primary submit-primary-button"><span class="text-underline">S</span>ubmit</Button>
      </div>
    </div>
  </div>
</div>